Repository GSA/ficam-playbooks, pull requests merged in 2022-06, with the labels that each got.

#566 0614 PIV CAs update
  _fpki/2b_pivcas.md
Labels: [issue type] documentation, [content area] fpki

#569 0620 FPKI graph update
  _fpki/tools/fpki-certs.gexf
  _fpki/tools/fpki_tools_graph.md
Labels: [content area] fpki

#573 Update fpkinotifications.yml
  _data/fpkinotifications.yml
Labels: [content area] fpki, Federal PKI - System Notification

#576 0627 FPKI graph update
  _data/fpkinotifications.yml
  _fpki/tools/CACertificatesValidatingToFederalCommonPolicyG2.p7b
  _fpki/tools/fpki-certs.gexf
  _fpki/tools/fpki_tools_graph.md
Labels: [content area] fpki
